<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SPARPersonsokningSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="SPARPersonsokningSoap111"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://kt-ext-ws.statenspersonadressregister.se/spar-webservice/SPARPersonsokningService/20160213" binding="basicHttpBinding" bindingConfiguration="SPARPersonsokningSoap11" contract="SparServiceReference.SPARPersonsokning" name="SPARPersonsokningSoap11"/>
    </client>
  </system.serviceModel>
</configuration>
